html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.content-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.no-login {
    display: none;
    margin-top: 5em;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}

.no-login a, .top-banner a, .booked-vehicles-container div a {
    color: rgb(0, 162, 255);
}

.no-login a:hover, .top-banner a:hover, .booked-vehicles-container div a:hover {
    text-decoration: underline;
    color: rgb(70, 187, 255);
}

#cars-container, .booked-vehicles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-container {
    width: 80%;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 35px rgb(158, 158, 158);
    border-radius: 5px;
}

.car-container div {
    margin-left: 1em;
}

.action-button {
    border: none;
    background-color: #ffc107;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.action-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #6f5400;
    color: rgb(55, 55, 55);
}

.top-banner {
    display: flex;
    margin-top: 5em;
    margin-bottom: 2em;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}

.confirmation-popup-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-popup {
    background-color: white;
    padding: 2em;
    width: 40%;
    display: flex;
    border-radius: 5px; 
    flex-direction: column;
}

.confirmation-popup .popup-header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

#close-popup {
    background: white;
    border: none;
    border-radius: 100%;
    margin-left: auto;
}

#close-popup:hover {
    background-color: rgba(255, 0, 0, 0.701);
}

.details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.8em;
}

.details-container div:last-child {
    display: flex;
    margin-top: 1em;
    justify-content: center;
}